<div id="versiure_widget_ID" class="eqLogic-widget eqLogic noResize verisure_widget verisure" style="text-align:center; height:370px; width:250px; border:#border#; border-radius:#border-radius#; background-color:rgb(116, 92, 176); color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	
	<center class="widget-name" style="padding-right: 0px;">
		<span class="object_name" style="font-size:1.1em ;display:none;">#object_name#</span>
		<a href="#eqLink#" style="font-size:1.1em ;#hideEqLogicName#">#name_display#</a>
	</center>
	
	<div class="container-fluid">
		<div class="row">
			<span class="pull-left cmd label cmdName" style="margin-left: 30px">Etat Alarme</span>
			<span class="pull-right cmd label cmdName" style="margin-right: 30px">Etat Activation</span>
		</div>
		<div class="row" id="infos">
			<span class="pull-left state" style="margin-left: 60px"><i class="iconCmd#state_id#"></i></span>
			<span class="pull-right state" style="margin-right: 65px"><i class="iconCmd#enable_id#"></i></span>
		</div>
		<span class="label cmdName">Mode Alarme</span>
		<div class="row" id="mode">
            <span class="iconCmd#mode_id# iconCmd" style="font-size: 2em; font-weight: bold;"></span>
        </div>	
  		<hr class="cmdName">
      	<span class="label cmdName">Actions</span>
        <div class="row" id="actions">
            <button class="btn cmd action" data-cmd_id="#armed_d#" title="Mode Total" onclick="jeedom.cmd.execute({id: #armed_id#});"><i class="fas fa-lock"></i></button>
			<button class="btn cmd action" data-cmd_id="#released_id#" title="Désactivation" onclick="jeedom.cmd.execute({id: #released_id#});"><i class="fas fa-lock-open"></i></button>
            <button class="btn cmd action" data-cmd_id="#getstate_id#" title="Rafraichir" onclick="jeedom.cmd.execute({id: #getstate_id#});"><i class="fas fa-sync"></i></button>
			<br/>
			<button class="btn cmd action" data-cmd_id="#armed_night_id#" title="Mode Nuit" onclick="jeedom.cmd.execute({id: #armed_night_id#});"><i class="fas fa-moon"></i></button>
			<button class="btn cmd action" data-cmd_id="#armed_day_id#" title="Mode Jour" onclick="jeedom.cmd.execute({id: #armed_day_id#});"><i class="fas fa-sun"></i></button>
			<button class="btn cmd action" data-cmd_id="#armed_ext_id#" title="Mode Extérieur" onclick="jeedom.cmd.execute({id: #armed_ext_id#});"><i class="fas fa-home"></i></button>
        </div>
		<hr class="cmdName">
		<span class="label cmdName">Images</span>	
		<div class="row" id="images">	
			<div class="cmd cmd-widget col-12" data-type="action" data-subtype="select" data-cmd_id="#getpictures_id#">
                <select class="selectCmd label action form-control form-control-sm" title="Demande Images">#getpictures_listValue#</select>
                <script>
                    $('.cmd[data-cmd_id=#getpictures_id#] .selectCmd').on('change', function () {
						if ($(this).value() != "") {
							$('#md_modal').dialog({title: "Demande Images"});
							$('#md_modal').load('index.php?v=d&plugin=verisure&modal=pictures.verisure&numinstall='+'#numinstall#'+'&username='+'#username#'+'&pwd='+encodeURIComponent('#password#')+'&country='+'#country#'+'&device='+$(this).value()).dialog('open'); 
						}
					});
                </script>
            </div>
		</div>
	</div>
	
	<script>
        
      	jeedom.cmd.update['#enable_id#'] = function(_options) {
            if ( _options.display_value == 0)  {
            	$('.iconCmd#enable_id#').empty().append('<i class="fa-2x icon_red jeedomapp-lock-ouvert"></i>');
            }
          	if ( _options.display_value == 1)  {
              	$('.iconCmd#enable_id#').empty().append('<i class="fa-2x icon_green jeedomapp-lock-ferme"></i>');
            }
        }
		jeedom.cmd.update['#enable_id#']({display_value:'#enable#'});
      	
      
		jeedom.cmd.update['#state_id#'] = function(_options) {
           	if ( _options.display_value == 0)  {
               $('.iconCmd#state_id#').empty().append('<i class="fa-2x icon_green jeedomapp-done"></i>');
            }
			if ( _options.display_value == 1)  {
               $('.iconCmd#state_id#').empty().append('<i class="fa-2x icon_red jeedomapp-alerte2"></i>');
			}
		}
		jeedom.cmd.update['#state_id#']({display_value:'#state#'});
		
      
		jeedom.cmd.update['#mode_id#'] = function(_options) {
           	$('.iconCmd#mode_id#').empty().append('<span>'+_options.display_value+'</span>');
        }
		jeedom.cmd.update['#mode_id#']({display_value:'#mode#'});
      
	</script>
  
  	<style>
      
      	.verisure_widget .container-fluid {
            margin-top: 10px;
        }

        .verisure_widget hr {
            border-top: 1px solid;
            margin : 10px 0px 10px 0px;
        }

        .verisure_widget #infos {
            margin-top: 5px;
            margin-bottom: 10px;
        }

        .verisure_widget #mode {
            margin-bottom: 10px;
        }

        .verisure_widget #actions {
            margin-top: 10px;
            margin-bottom: 20px;
        }

        .verisure_widget #actions button {

            width: 32px;
            height: 30px;
            padding: 0px;
            margin-bottom: 3px;
            background-color: rgb(156, 132, 216);
        }

        .verisure_widget #images {
            margin-top: 10px;
        }

        .verisure_widget #images select {

            width: 240px;
            height: 24px;
            border: 0px;
            background-color: rgb(156, 132, 216);
        }
          
    </style>

</div>