<div id="versiure_widget_ID" class="eqLogic-widget eqLogic verisure_widget_#id# verisure" style="text-align:center; min-width:270px; max-width:270px; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	
	<div class="widget-name" style="padding-left: 5px;">
		<a href="#eqLink#" style="font-size:1.1em; margin-left:-5px; #hideEqLogicName#">#name_display#</a>
		<span class="object_name" style="font-size:1.1em ;display:none;">#object_name#</span>
		<span class="pull-left" title="Qualité du réseau : #networkstate#">
			<div id="img_quality"></div>
		</span>
		<script>
			$('#img_quality').empty();
			if ( #networkstate# == 0 )  { var img ='<img src="plugins/verisure/core/img/signal_0.png" height="14"/>'; } 
			if ( #networkstate# > 0 && #networkstate# < 0.30 )  { var img ='<img src="plugins/verisure/core/img/signal_1.png" height="14"/>'; }
			if ( #networkstate# >= 0.30 && #networkstate# < 0.70 )  { var img ='<img src="plugins/verisure/core/img/signal_2.png" height="14"/>'; }
			if ( #networkstate# >= 0.70 && #networkstate# < 0.90 )  { var img ='<img src="plugins/verisure/core/img/signal_3.png" height="14"/>'; }
			if ( #networkstate# >= 0.90 && #networkstate# < 1 )  { var img ='<img src="plugins/verisure/core/img/signal_4.png" height="14"/>'; }
			if ( #networkstate# == 1 )  { var img ='<img src="plugins/verisure/core/img/signal_5.png" height="14"/>'; } 
			$('#img_quality').append(img);
		</script>
	</div>
	
	<div class="container-fluid">
		
		<div class="col-sm-12" id="column" style="width: 260px">
			<div class="col-sm-6" id="tile" style="width: 120px">
				<div class="col-sm-12 label" style="text-align: center;">Etat Alarme</div>
				<div class="col-sm-12" id="infos"><i class="iconCmd#state_id#"></i></div>
			</div>
			<div class="col-sm-6" id="tile" style="width: 120px">
				<div class="col-sm-12 label" style="text-align: center;">Etat Activation</div>
				<div class="col-sm-12" id="infos"><i class="iconCmd#enable_id#"></i></div>
			</div>
        </div>
		
		<div class="col-sm-12" id="column" style="width: 260px">
			<div class="col-sm-12" id="tile" style="width: 250px">
				<div class="col-sm-12 label">Mode Alarme</div>
				<div class="col-sm-12" id="infos"><span class="iconCmd#mode_id# iconCmd"></span></div>	
			</div>
		</div>

		<div class="col-sm-12" id="column" style="width: 260px">
			<div class="col-sm-12" id="tile" style="width: 250px">
				<div class="col-sm-12 label">Actions</div>
				<div class="col-sm-12" id="actions">
					<button class="btn cmd action" data-cmd_id="#armed_id#" title="Mode Total" onclick="jeedom.cmd.execute({id: #armed_id#});"><i class="fas fa-lock"></i></button>
					<button class="btn cmd action" data-cmd_id="#released_id#" title="Désactivation" onclick="jeedom.cmd.execute({id: #released_id#});"><i class="fas fa-lock-open"></i></button>
					<button class="btn cmd action" data-cmd_id="#getstate_id#" title="Rafraichir" onclick="jeedom.cmd.execute({id: #getstate_id#});"><i class="fas fa-sync"></i></button>
					<div></div>
					<button id="btn_night_#id#" class="btn cmd action" data-cmd_id="#armed_night_id#" title="Mode Nuit" onclick="jeedom.cmd.execute({id: #armed_night_id#});"><i class="fas fa-moon"></i></button>
					<button id="btn_day_#id#"  class="btn cmd action" data-cmd_id="#armed_day_id#" title="Mode Jour" onclick="jeedom.cmd.execute({id: #armed_day_id#});"><i class="fas fa-sun"></i></button>
					<button id="btn_ext_#id#" class="btn cmd action" data-cmd_id="#armed_ext_id#" title="Mode Extérieur" onclick="jeedom.cmd.execute({id: #armed_ext_id#});"><i class="fas fa-home"></i></button>
				</div>
			</div>
		</div>

		<div id="zone_image_#id#">
			<div class="col-sm-12" id="column" style="width: 260px">
				<div class="col-sm-12" id="tile" style="width: 250px">
					<div class="col-sm-12 label">Images</div>
					<div class="col-sm-12" id="images">
						<div class="cmd cmd-widget col-sm-8" data-type="action" data-subtype="select" data-cmd_id="#getpictures_id#">
							<select class="btn cmd selectCmd action form-control form-control-lg" title="Demande Images">#getpictures_listValue#</select>
							<script>
								$('.cmd[data-cmd_id=#getpictures_id#] .selectCmd').on('change', function () {
									if ($(this).value() != "") {
										$('#md_modal').dialog({title: "Demande Images"});
										$('#md_modal').load('index.php?v=d&plugin=verisure&modal=pictures.verisure&eqLogic_id='+'#id#'+'&device='+$(this).value()).dialog('open');
									}  
								});
							</script>
						</div>
					</div>
				</div>
			</div>
		</div>
        
	</div>
	
	<script>
        
		if ( #armed_night_visible# == 0 )  {
			$('#btn_night_#id#').hide();
		}
		if ( #armed_day_visible# == 0 )  {
			$('#btn_day_#id#').hide();
		}
		if ( #armed_ext_visible# == 0 )  {
			$('#btn_ext_#id#').hide();
		}

		if ( #getpictures_visible# == 1 )  {
			if ( #armed_night_visible# == 0 && #armed_day_visible# == 0 && #armed_ext_visible# == 0 )  {
				$('.verisure_widget_#id#').css('min-height', 415 - 32);
				$('.verisure_widget_#id#').css('max-height', 415 - 32);
			}
			else  {
				$('.verisure_widget_#id#').css('min-height', 415);
				$('.verisure_widget_#id#').css('max-height', 415);
			}
		}
		else if ( #getpictures_visible# == 0 )  {
			$('#zone_image_#id#').hide();
			if ( #armed_night_visible# == 0 && #armed_day_visible# == 0 && #armed_ext_visible# == 0)  {
				$('.verisure_widget_#id#').css('min-height', 415 - 92 - 32);
				$('.verisure_widget_#id#').css('max-height', 291 - 92 - 32);
			}
			else  {
				$('.verisure_widget_#id#').css('min-height', 415 - 92);
				$('.verisure_widget_#id#').css('max-height', 415 - 92);
			}
		}
		
		jeedom.cmd.update['#enable_id#'] = function(_options) {
            if ( _options.display_value == 0)  {
            	$('.iconCmd#enable_id#').empty().append('<i class="fa-2x icon_red jeedomapp-lock-ouvert"></i>');
            }
          	if ( _options.display_value == 1)  {
              	$('.iconCmd#enable_id#').empty().append('<i class="fa-2x icon_green jeedomapp-lock-ferme"></i>');
            }
        }
		jeedom.cmd.update['#enable_id#']({display_value:'#enable#'});
      	
      
		jeedom.cmd.update['#state_id#'] = function(_options) {
            if ( _options.display_value == 0)  {
               $('.iconCmd#state_id#').empty().append('<i class="fa-2x icon_green jeedomapp-done"></i>');
            }
			if ( _options.display_value == 1)  {
               $('.iconCmd#state_id#').empty().append('<i class="fa-2x icon_red jeedomapp-alerte2"></i>');
			}
		}
		jeedom.cmd.update['#state_id#']({display_value:'#state#'});
		
      
		jeedom.cmd.update['#mode_id#'] = function(_options) {
           	$('.iconCmd#mode_id#').empty().append('<span>'+_options.display_value+'</span>');
        }
		jeedom.cmd.update['#mode_id#']({display_value:'#mode#'});
      
	</script>

<style>
	
	.verisure_widget_#id# .container-fluid {
		padding: 10px 5px 10px 5px ! important;
	}

	.verisure_widget_#id# #column {
		padding: 0px !important;
		margin: 0px 0px 10px 0px !important;
	}

	.verisure_widget_#id# #tile {
		padding: 0px !important;
		margin: 0px 5px 0px 5px !important;
		background-color : rgb(var(--bg-color),0.5);
	}

	.verisure_widget_#id# #infos {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.verisure_widget_#id# #actions {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	.verisure_widget_#id# #images {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	</style>
	
</div>
