<div id="versiure_widget_ID" class="eqLogic-widget eqLogic noResize verisure_widget verisure" style="text-align:center; width:250px; border:#border#; border-radius:#border-radius#; background-color:#background-color#; color:#color#; #style#;" data-eqType="#eqType#" data-translate-category="#translate_category#" data-category="#category#" data-tags="#tags#" data-eqLogic_id="#id#" data-eqLogic_uid="#uid#" data-version="dashboard">
	
	<center class="widget-name" style="padding-right: 24px;">
		<span class="object_name" style="font-size:1.1em ;display:none;">#object_name#</span>
		<a href="#eqLink#" style="font-size:1.1em ;#hideEqLogicName#">#name_display#</a>
		<span title="Qualité du réseau : #networkstate#" style="float: left; margin-left: -8px">
			<div id="img_quality"></div>
		</span>
		<script>
			$('#img_quality').empty();
			if ( #networkstate# == 0 )  { var img ='<img src="plugins/verisure/core/img/signal_0.png" height="14"/>'; } 
			if ( #networkstate# > 0 && #networkstate# < 0.30 )  { var img ='<img src="plugins/verisure/core/img/signal_1.png" height="14"/>'; }
			if ( #networkstate# >= 0.30 && #networkstate# < 0.70 )  { var img ='<img src="plugins/verisure/core/img/signal_2.png" height="14"/>'; }
			if ( #networkstate# >= 0.70 && #networkstate# < 0.90 )  { var img ='<img src="plugins/verisure/core/img/signal_3.png" height="14"/>'; }
			if ( #networkstate# >= 0.90 && #networkstate# < 1 )  { var img ='<img src="plugins/verisure/core/img/signal_4.png" height="14"/>'; }
			if ( #networkstate# == 1 )  { var img ='<img src="plugins/verisure/core/img/signal_5.png" height="14"/>'; } 
			$('#img_quality').append(img);
		</script>
	</center>
	
	<div class="container-fluid">
		<div class="row">
			<span class="pull-left cmd label cmdName" style="margin-left: 28px">Etat Alarme</span>
			<span class="pull-right cmd label cmdName" style="margin-right: 31px">Etat Activation</span>
		</div>
		<div class="row" id="infos">
			<span class="pull-left state" style="margin-left: 60px"><i class="iconCmd#state_id#"></i></span>
			<span class="pull-right state" style="margin-right: 65px"><i class="iconCmd#enable_id#"></i></span>
		</div>
		<span class="label cmdName">Mode Alarme</span>
		<div class="row" id="mode">
            <span class="iconCmd#mode_id# iconCmd"></span>
        </div>	
		<hr class="cmdName">
        <span class="label cmdName">Actions</span>
        <div class="row" id="actions">
            <button class="btn cmd action" data-cmd_id="#armed_id#" title="Mode Total" onclick="jeedom.cmd.execute({id: #armed_id#});"><i class="fas fa-lock"></i></button>
			<button class="btn cmd action" data-cmd_id="#released_id#" title="Désactivation" onclick="jeedom.cmd.execute({id: #released_id#});"><i class="fas fa-lock-open"></i></button>
            <button class="btn cmd action" data-cmd_id="#getstate_id#" title="Rafraichir" onclick="jeedom.cmd.execute({id: #getstate_id#});"><i class="fas fa-sync"></i></button>
			<div></div>
			<button id="btn_night" class="btn cmd action" data-cmd_id="#armed_night_id#" title="Mode Nuit" onclick="jeedom.cmd.execute({id: #armed_night_id#});"><i class="fas fa-moon"></i></button>
			<button id="btn_day"  class="btn cmd action" data-cmd_id="#armed_day_id#" title="Mode Jour" onclick="jeedom.cmd.execute({id: #armed_day_id#});"><i class="fas fa-sun"></i></button>
			<button id="btn_ext" class="btn cmd action" data-cmd_id="#armed_ext_id#" title="Mode Extérieur" onclick="jeedom.cmd.execute({id: #armed_ext_id#});"><i class="fas fa-home"></i></button>
        </div>
		<div id="zone_image">
			<hr class="cmdName">
			<span class="label cmdName">Images</span>	
			<div class="row" id="images">	
				<div class="cmd cmd-widget col-12" data-type="action" data-subtype="select" data-cmd_id="#getpictures_id#">
					<select class="btn cmd selectCmd action form-control form-control-lg" title="Demande Images">#getpictures_listValue#</select>
					<script>
						$('.cmd[data-cmd_id=#getpictures_id#] .selectCmd').on('change', function () {
							if ($(this).value() != "") {
								$('#md_modal3').dialog({title: "Demande Images"});
								$('#md_modal3').load('index.php?v=d&plugin=verisure&modal=pictures.verisure&numinstall='+'#numinstall#'+'&username='+'#username#'+'&pwd='+encodeURIComponent('#password#')+'&country='+'#country#'+'&device='+$(this).value()).dialog('open');
							}  
						});
					</script>
				</div>
			</div>
		</div>
	</div>
	
	<script>
        
      	$('.verisure_widget').css('height', 370);
		if ( #getpictures_visible# == 0)  {
			$('#zone_image').hide();
			$('.verisure_widget').css('height', 280);
		}
		if ( #armed_night_visible# == 0)  {
			$('#btn_night').hide();
		}
		if ( #armed_day_visible# == 0)  {
			$('#btn_day').hide();
		}
		if ( #armed_ext_visible# == 0)  {
			$('#btn_ext').hide();
		}
		if ( #armed_night_visible# == 0 && #armed_day_visible# == 0 && #armed_ext_visible# == 0)  {
			if ( #getpictures_visible# == 0) { $('.verisure_widget').css('height', 250); }
			if ( #getpictures_visible# == 1) { $('.verisure_widget').css('height', 340); }
		}
				
		
		jeedom.cmd.update['#enable_id#'] = function(_options) {
            if ( _options.display_value == 0)  {
            	$('.iconCmd#enable_id#').empty().append('<i class="fa-2x icon_red jeedomapp-lock-ouvert"></i>');
            }
          	if ( _options.display_value == 1)  {
              	$('.iconCmd#enable_id#').empty().append('<i class="fa-2x icon_green jeedomapp-lock-ferme"></i>');
            }
        }
		jeedom.cmd.update['#enable_id#']({display_value:'#enable#'});
      	
      
		jeedom.cmd.update['#state_id#'] = function(_options) {
            if ( _options.display_value == 0)  {
               $('.iconCmd#state_id#').empty().append('<i class="fa-2x icon_green jeedomapp-done"></i>');
            }
			if ( _options.display_value == 1)  {
               $('.iconCmd#state_id#').empty().append('<i class="fa-2x icon_red jeedomapp-alerte2"></i>');
			}
		}
		jeedom.cmd.update['#state_id#']({display_value:'#state#'});
		
      
		jeedom.cmd.update['#mode_id#'] = function(_options) {
           	$('.iconCmd#mode_id#').empty().append('<span>'+_options.display_value+'</span>');
        }
		jeedom.cmd.update['#mode_id#']({display_value:'#mode#'});
      
	</script>

	<style>
	
	.verisure_widget .container-fluid {
		margin-top: 10px;
	}

	.verisure_widget hr {
		border-top: 1px solid;
		margin : 10px 0px 10px 0px;
	}

	.verisure_widget #infos {
		margin-top: 5px;
		margin-bottom: 10px;
	}

	.verisure_widget #mode {
		margin-top: 0px;
	}

	.verisure_widget #actions {
		margin-top: 10px;
		margin-bottom: 20px;
	}
	
	.verisure_widget #images {
		margin-top: 10px;
	}
	
	</style>
	
</div>
